*.pyc
*.orig
*.rej
*.csv
/dist/
/*.egg-info
/build/

docs/_*
.project
.pydevproject
.settings
.cache
.idea
venv*

.pytest_cache
.tox
.coverage
.eggs
.README.md.html

tests/configs/save_config.*
tests/configs/customers/
tests/temp

xenavalkyrie/samples/*.txt
xenavalkyrie/samples/*.csv
xenavalkyrie/samples/*.pcap
xenavalkyrie/samples/save_config.*

customers
