*.pyc
*.orig
*.rej
*.csv
/dist/
/*.egg-info
/build/

docs/_*
.project
.pydevproject
.settings
.cache
.idea

.pytest_cache
.tox
.coverage
.eggs

xenavalkyrie/test/configs/save_config.xpc 
xenavalkyrie/test/configs/customers/