*.pyc
*.orig
*.rej
*.csv
/dist/
/*.egg-info
/build/

docs/_*
.project
.pydevproject
.settings
.cache
.idea
venv*

.pytest_cache
.tox
.coverage
.eggs
.README.md.html

xenavalkyrie/test/configs/save_config.*
xenavalkyrie/test/configs/customers/

xenavalkyrie/samples/*.txt
xenavalkyrie/samples/*.csv
xenavalkyrie/samples/*.pcap
xenavalkyrie/samples/save_config.*